body{
  color: white;
  background-color: #000000;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  font-size: 21px;
}
#foto{
  float: left;
  max-width:225px;
  max-height:300px;
  width: auto;
  height: auto;
  padding-right: 20px;
}
.titulo{
  text-align: center;
}
p{
  padding-bottom: 10px;
}
#verde{
  color: #74f314;
}
#vermelho{
  color: #d50210;
}
#roxo{
  color: #31184d;
}
#azul{
  color: #5c72a4;
}
#laranja{
  color: #fcaf17;
}
#c{
  padding-top: 5px;
  padding-bottom: 0px;
}
#video{
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
